<% collection_cache do %> 
<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='span9'>
      <%= render_collection_header %>
      <% if collection.any? %>
          <%= grid_tag(parent.column_count) do %>
              <%= render collection %>
          <% end %>
          <%= render_pagination %>
      <% else %>
          <%= render "no_records_found" %>
      <% end %>
   </div>
   <div class='span3'>
    <%= render "sale_properties/filter", :section => parent %>
    </div>
 </div>
</div>
<% end %> 