<% content_for(:page_container) do %>
<% cache([action_name, site, I18n.locale, @sale_property.section, @sale_property]) do %>
<%
has_stickers = @stickers.try(:any?)
options = @sale_property.content_options
has_options = options.try(:any?)
tags = []
tags << realty_meta_tag("bedroom_count", @sale_property.meta.bedroom_count)
tags << realty_meta_tag("price", sale_price_value(@sale_property))
if @sale_property.meta.area.present? 
  tags << realty_meta_tag("area", @sale_property.meta.area.name)
end
%>

<div class='container-fluid sale_property body'>
  <div class='row-fluid'>
    <div class='span9'>
      <%= render_slideshow_for(resource) %>
      <%= render_page_title(resource.title) %>
      <div class='row-fluid'>
        <div class="span8">
          <%= render_html_text(resource.body) %>
        </div>
        <div class="span4 tags-list">
          <%= tags.compact.join(" ").html_safe %>
          <%= render('/stickers/shared/tags', :stickers => @stickers) if has_stickers %>
          <%= render('/shared/content_options', :options => options) if has_options %>
        </div>
      </div>
    </div>
    
    <aside id='sidebar' class="span3">
      <div class='sidebar-inner'>

        <% if @sale_property.lat_long.present? %>
          <div class='partial google_map_container'> 
            <%= render('google_map', :point => @sale_property.lat_long) %> 
          </div>
        <% end %> 
        <%= render "sale_properties/filter", :section => parent %>

      </div>
    </aside>
  </div>
</div>

<% end %>
<% end %>