<%
if @rent_section = site.rental_property_lists.with_translations(I18n.locale).published.first
  #@promo_rental_properties = @rent_section.rental_properties.published.with_globalize.with_promo  
  #num_property = @promo_rental_properties.any? ? 1 : 2
  #span_num = @promo_rental_properties.any? ? 4 : 8
  @random_rental_properties = @rent_section.rental_properties.published.with_globalize.order('RAND()').limit(2)
end

@features ||= site.features.live
%>
<div class="container-fluid">
  <% if @features.any? %>
  <div class="row-fluid">
    <div class="span12"  id="home-features">
      <%= render 'shared/carousel', :features => @features %>
    </div>
  </div>
  <% end %>   
  <div class="row-fluid">
    <section class="span4">
      <%= render "rental_properties/filter", :section => @rent_section %>
    </section>
    
    <section class="span8">
      <h3><%= link_to(t("home.featured_rental_properties"), @rent_section.public_url) %></h3>
      <% if @random_rental_properties.any? %>
        <ul id="home-rental-property" class="grid grid2">
          <%= render @random_rental_properties %>
        </ul>
        <%= link_to(t("home.view_all_rental_properties"), @rent_section.public_url, :class => 'btn btn-block view_all') %>
      <% end %>
    </section>
  </div> 
  <% unless resource.body.blank? %>
  <div class="row-fluid">
   <div class="span4"><p></p></div>
    <section class="span8"> 
      <%= render_html_text(resource.body) %>          
    </section>  
  </div>
  <% end %>
</div>  